@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Northwind</h1>
    <p>Author: An-Ting Zheng</p>
    <a type="button" class="btn btn-dark" style="width:25%" asp-controller="Orders" asp-action="index"> Orders</a>
</div>
